Package: com.bid3v.pinnie
Name: Pinnie
Depends: firmware (>= 11.0), mobilesubstrate, preferenceloader
Conflicts: com.ahmad.pinheads, com.twickd.nicho1asdev.caim
Version: 0.2.0
Architecture: iphoneos-arm
Description: Pin messages like iOS 14!
Maintainer: biD3V
Author: biD3V
Section: Tweaks
Depiction: https://biD3V.github.io/repo/depictions/pinnie.html
SileoDepiction: https://biD3V.github.io/repo/depictions/sileo/pinnie.json
Icon: https://biD3V.github.io/repo/icons/Pinnie.png
